/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 10px;
    margin: 20px 100px; 
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin: 5px 0;
}

.logo #title {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248,185,60);
    font-weight: 700;
}
.logo #phrase{
    font-size: 18px;
}

.nav {
    position: inherit;
    top: 30px; 
}

.nav a{
    position: inherit;
    margin: 0 30px;
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover {
    color: black;
}

.nav a::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 0;
    height: 2px;
    left: -5px;
    padding: 0 5px;
    bottom: -5px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav a:hover::after {
    visibility: visible;
    width: 100%;
}

.contact-btn{
    padding-right: 65px;
}

.contact-btn button{
    position: relative;
    top: 20px;
    width: 200%;
    height: 50%;
    border-radius: 25px;
    background-color: orange;
    border:2px solid orange;
    color:white;
}

/* Main */
.footer {
    position: absolute;
    width: 97.5%;
    height: 500px;
    background-image: url("resources/images/footer\ wallpaper.png");
    background-position: center;
    background-size: cover;
    border: 10px solid black;
    border-radius: 50px;
}
.title h1 {
    position: relative;
    top: 100px;
    left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(58,10,5);
}
.title p {
    position: relative;
    top: 100px;
    left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    color: rgb(58,10,5);
}
.social-icons {
    position: relative;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    gap: 1px;
}
.social-icons a {
    text-decoration: none;
    color: rgb(117,77,17);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
}
.copyright p{
    position: relative;
    top:70px;
    font-size: 15px;
    color: rgb(117,77,17);
}
.links {
    position: absolute;
    top: 150px;
    left: 500px;

}
.links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    
    
}
.links ul li a{
    text-decoration: none;
    color: rgb(117,77,17);
    padding: 20px;
    font-size: 18px;
}

.subscribe {
    position: absolute;
    top: 30px;
    left: 950px;
}
.subscribe input {
    position: relative;
    top: 100px;
    left: 100px;
    padding: 15px;
    min-height: 30px;
    min-width: 250px;
    border: 1px solid rgb(58,10,5);
    border-radius: 20px;
    background-color: black;
}
.subscribe p {
    position: relative;
    top: 20px;
    left: 330px;
}
.links-1 {
    position: absolute;
    top: 250px;
    left: 500px;
}
.links-1 ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
    top:-50px;
    left: 50px;

}
.links-1 ul li a{
    text-decoration: none;
    color: rgb(117,77,17);
    padding: 20px;
    font-size: 18px;
}